/*styles the pages*/
body {
    background-color: #720A94;
}

.cerulean {
    background-color: #1DACD6;
}

.ceruleanText {
    color: #1DACD6;
}

.btn:hover, li:hover {
    background-color: #168fb4 !important;
}

#homeCard {
    margin-top: 10vw;
}

.container {
    margin-top: 4vw;
}

.border-success {
    border: #168fb4 0.5px solid !important;
}

.lastRow {
    width: 48%;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*below are media queries that help style the page for mobile use*/
@media screen and (max-width: 800px) {
    #homeCard {
        width: 75% !important;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 10vw;
    }

    .additionalRow {
        margin-top: 0 !important;
    }

    .lastRow {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
